.swiper {
    padding: 0px;
    margin: 0px;
    background-color: white;
}

.swiper-slide {
    display: flex;
    align-items: center;
}

.swiper-pagination-bullet-active {
    background-color: white;
}


.swiper-pagination-bullet {
    width: 25px;
    /* Largura */
    height: 6px;
    /* Altura */
    border-radius: 15px;
}

.swiper-button-prev {
    color: white;
}

.swiper-button-next {
    color: white;
}